<div *ngIf="user">
    <h2>{{user.name}} details!</h2>
    <div><label>id: </label>{{user._id}}</div>
    <div>
      <label>Nickname: </label>
      <input [(ngModel)]="user.name" placeholder="nickname"/>
    </div>
    <div><label>Role: </label><SELECT name="role" size="1">
<OPTION>mentor
<OPTION>master
<OPTION>ghosts
<OPTION>depinfo
<OPTION>others
</SELECT></div>
    <div><label>Profession: </label><SELECT name="class" size="1">
<OPTION>peon
<OPTION>vampire
</SELECT></div>
    <div><label>Phone address: </label>{{user.bt_mac}}</div>
    <button (click)="save()">Save</button>
    <button (click)="goBack()">Back</button>
</div>
